<head>
    <base href="/">
    <title>aboreeNetwork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#4e8ef7">
</head>

<body>
<ion-app></ion-app>
</body>
