<login-form (submit)="login($event)"></login-form>
<pre>
<ul *ngFor="let user of users | async">
    <li>All Data: {{user | json}}</li>
    <li>Username: {{user.username}}</li>
    <li>Password: {{user.password}}</li>
    <li>register date: {{user.registration | date:'fullDate'}}</li>
</ul>
</pre>
