<form [formGroup]="loginForm">
    <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Password</ion-label>
        <ion-textarea formControlName="password"></ion-textarea>
    </ion-item>
    <button ion-button (click)="goBack()">Back to Welcome</button>
    <button ion-button (click)="login()" [disabled]="!loginForm.valid">
        <ion-icon ios="ios-finger-print" md="md-finger-print"></ion-icon>
        Login
    </button>
</form>
